<!DOCTYPE html>
<head>
  <title>Twitter Posts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
.boxed {
  border: 1px blue;
}

.border {
  border: 15px solid red;
  padding: 5px;
  margin: 20px;
  outline-color:pink;
  outline-style:double;
}
</style>
<body>
{% csrf_token %}
{% for post in latest_post_list %}
  <div class = "boxed">
    <div class = "border">
        <p>{{post.userName}} {{post.userId}}</p>
        <p>{{post.bodyText}}</p>
        <p>{{post.likes}} likes {{post.dateCreated}}</p>
        <button type="button" onclick='changeColor()' id='likedBool' type='boolean' name='likedBool'>like</button>
    </div>
    <label for="comment">Comment: </label>
    <input id="comment" type="text" name="comment" maxlength="4000" required>
  </div>
{% endfor %}

</body>
</html>
